
<div class="container">

  <div class="tabMenu rightBar">

    <div id="search_container">
      <p>search the link bucket</p><hr />
        <div id="search_form">
            <%= form_tag links_path, :method => 'get' do %>
              <p>
                <%= text_field_tag :search, params[:search], class: 'search_box', :placeholder => "what you looking for?" %>
                <%= submit_tag "go!", :name => nil, class: 'search_button'%>
              </p>
            <% end %>
          </div>
        </div>

        <div id="right_submit">
            <% if user_signed_in? -%>
              <%= link_to new_link_path do %>
                <button class="waves-effect waves-light btn">submit link</button>
              <% end %>
            <% else -%>
              <%= link_to '/users/sign_in' do %>
                <button class="waves-effect waves-light btn">submit link</button>
              <% end %>
            <% end -%>
        </div>

  		<div class="label">sort by:</div>
  		<div id="sort_by_main">

          <%= link_to '/popular' do %>
            <button class="waves-effect waves-light btn">popularity</button>
          <% end %>

          <%= link_to '/new' do %>
            <button class="waves-effect waves-light btn">newest</button>
          <% end %>

          <%= link_to '/old' do %>
            <button class="waves-effect waves-light btn">oldest</button>
          <% end %>
  		</div>

  	</div>

  <!-- Show search query to user (what they searched for...) -->
  <% @links.to_a %>
<% if params[:search] %>
  <div id="query_return">results for "<b><%= params[:search] %></b>"</div>
<% end %>

<% @links.each do |link| %>
<div class="post_row2">

  <div class="col s12 m6">
     <div class="card blue-grey darken-1">
       <div class="card-content white-text">
         <span class="card-title">

           <% if link.title.mb_chars.length < 37 %>
             <%= link_to link.title, link %>
           <% else %>
             <%= link_to link.title.truncate(37), link %>
           <% end %>

         </span>
         <p><p>
         <p>submitted <%= time_ago_in_words(link.created_at) %> ago by <%= link.user.name %></p>
       </div>

       <div class="card-action">

         <%= link_to vote_link_path(link, type: "up"), method: "post"  do%>
            <i class="material-icons">thumb_up</i>
         <% end %>
         <a href="#"><%= link.reputation_for(:votes).to_i %></a>
         <%= link_to vote_link_path(link, type: "down"), method: "post" do%>
           <i class="material-icons">thumb_down</i>
         <% end %>

         <p id="post_link_side">
           <% if link.url.mb_chars.length < 22 %>
             <%= link_to link.url, link %>
           <% else %>
             <%= link_to link.url.truncate(27), link %>
           <% end %>
         </p>

       </div>
     </div>
   </div>

</div>

<% end %>

</div>

<div class="pagination">
  <% if !params[:search] %>
    <%= will_paginate @links, renderer: BootstrapPagination::Rails, previous_label: "<", next_label: ">", inner_window: 1, outer_window: 0 %>
  <% end %>
</div>
