<div class="container">

<!--<%= form_tag("/search", method: "get") do %>
    <%= text_field_tag 'query', ''%>
    <%= submit_tag("search") %>
  <% end %> -->
<div class="right_options">

  <div id="search_container">
    <p>search the link bucket</p><hr />
      <div id="search_form">
          <%= form_tag links_path, :method => 'get' do %>
            <p>
              <%= text_field_tag :search, params[:search], class: 'search_box', :placeholder => "what you looking for?" %>
              <%= submit_tag "go!", :name => nil, class: 'search_button'%>
            </p>
          <% end %>
        </div>
      </div>

      <div id="right_submit">
          <!-- Checks to see if user is signed in, and when they click it will allow them to post -->
          <% if user_signed_in? -%>
            <%= link_to 'submit', new_link_path %>
          <% else -%>
            <!-- If someone is not logged in, and wants to post something, redirects the to login page -->
            <%= link_to 'submit', '/users/sign_in' %>
          <% end -%>
      </div>

      <div id="sort_by_main">
        <p>sort by:</p>
        <%= link_to 'newest', '/new' %>
        <%= link_to 'oldest', '/old' %>
        <%= link_to 'popular', '/popular' %>
      </div>

</div>

  <!-- Show query -->
  <% @links.to_a %>
<% if params[:search] %>
  <div id="query_return">results for "<b><%= params[:search] %></b>"</div>
<% end %>

<% @links.each do |link| %>

  <div class="post_row">
    <!-- Voting actions -->
    <div class="vote_actions">
      <!-- Upvote -->
      <div id="upvote">
      <%= link_to like_link_path(link), method: :put, class: "voting_actions" do %>
        <span class="glyphicon glyphicon-circle-arrow-up"></span>
      <% end %>
      </div>

      <div class="show_score">
        <% if link.get_upvotes.size == link.get_downvotes.size %>
          0
        <% else %>
          <%= link.get_upvotes.size - link.get_downvotes.size %>
        <% end %>
      </div>
      <!-- Downvote -->
      <div id="downvote">
      <%= link_to dislike_link_path(link), method: :put, class: "vote_actions" do %>
        <span class="glyphicon glyphicon-circle-arrow-down">
      <% end %>
      </div>
    </div>

    <!-- Title of post -->
    <h3>
      <% if link.title.mb_chars.length < 37 %>
        <%= link_to link.title, link %>
      <% else %>
        <%= link_to link.title.truncate(37), link %>
      <% end %>

      <div class="submitted">submitted <%= time_ago_in_words(link.created_at) %> ago by <%= link.user.name %>

        <p id="post_link_side">
          <% if link.url.mb_chars.length < 22 %>
            (<%= link_to link.url, link %>)
          <% else %>
            (<%= link_to link.url.truncate(27), link %>)
          <% end %>
        </p>

        <% if link.user == current_user %>
            <%= link_to 'Edit | ', edit_link_path(link) %>
            <%= link_to 'Delete', link, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>

    </h3>

  </div>
<% end %>

<% if !params[:search] %>
<%= will_paginate @links, renderer: BootstrapPagination::Rails, previous_label: "prev", next_label: "next", inner_window: 1, outer_window: 0 %>
<% end %>

</div>
<!--<table>
  <tbody>

    <% @links.each do |link| %>
      <tr class="link_row">
        <td> <%= link.get_upvotes.size %> </td>
        <td> <%= link.title %> </td>
        <td> <%= link_to link.url, link %> </td>
        <td> <%= link_to "upvote", like_link_path(link), method: :put %> </td>
        <td> <%= link_to "downvote", dislike_link_path(link), method: :put %> </td>
        <td> Submitted <%= time_ago_in_words(link.created_at) %> ago </td>

        <% if link.user == current_user %>
            <td><%= link_to 'Edit', edit_link_path(link) %></td>
            <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table> -->
