
<div class="container">

<nav class="tabMenu rightBar">

  <div id="search_container">
    <p>search the link bucket</p><hr />
      <div id="search_form">
          <%= form_tag links_path, :method => 'get' do %>
            <p>
              <%= text_field_tag :search, params[:search], class: 'search_box', :placeholder => "what you looking for?" %>
              <%= submit_tag "go!", :name => nil, class: 'search_button'%>
            </p>
          <% end %>
        </div>
      </div>

      <div id="right_submit">
          <% if user_signed_in? -%>
            <%= link_to new_link_path do %>
              <button>submit link</button>
            <% end %>
          <% else -%>
            <%= link_to '/users/sign_in' do %>
              <button>submit link</button>
            <% end %>
          <% end -%>
      </div>

		<div class="label">sort by:</div>
		<div id="sort_by_main">

        <%= link_to '/popular' do %>
          <button>popularity</button>
        <% end %>

        <%= link_to '/new' do %>
          <button>newest</button>
        <% end %>

        <%= link_to '/old' do %>
          <button>oldest</button>
        <% end %>
		</div>

        <div class="label">more on us:</div>

        <a class="btn btn-default width-100">what is the link bucket?</a>
        <a class="btn btn-default width-100">our policy</a>

	</nav>

  <!-- Show search query to user (what they searched for...) -->
  <% @links.to_a %>
<% if params[:search] %>
  <div id="query_return">results for "<b><%= params[:search] %></b>"</div>
<% end %>

<% @links.each do |link| %>
  <div class="post_row">


    <!-- Voting actions -->
    <div class="vote_actions">
      <!-- Upvote -->
      <div id="upvote">
        <%= link_to vote_link_path(link, type: "up"), method: "post"  do%>
           <i class="material-icons">thumb_up</i>
        <% end %>
      </div>

      <div class="show_score">
         <%= link.reputation_for(:votes).to_i %>
      </div>

      <!-- Downvote -->
      <div id="downvote">
        <%= link_to vote_link_path(link, type: "down"), method: "post" do%>
          <i class="material-icons">thumb_down</i>
        <% end %>
      </div>

    </div>

    <!-- Title of post -->
    <h3>
      <% if link.title.mb_chars.length < 37 %>
        <%= link_to link.title, link %>
      <% else %>
        <%= link_to link.title.truncate(37), link %>
      <% end %>

      <div class="submitted">submitted <%= time_ago_in_words(link.created_at) %> ago by <%= link.user.name %>

        <p id="post_link_side">
          <% if link.url.mb_chars.length < 22 %>
            (<%= link_to link.url, link %>)
          <% else %>
            (<%= link_to link.url.truncate(27), link %>)
          <% end %>
        </p>

        <% if link.user == current_user %>
            <%= link_to 'Edit | ', edit_link_path(link) %>
            <%= link_to 'Delete', link, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>

    </h3>

  </div>
<% end %>

</div>

<div class="pagination">
  <% if !params[:search] %>
    <%= will_paginate @links, renderer: BootstrapPagination::Rails, previous_label: "<", next_label: ">", inner_window: 1, outer_window: 0 %>
  <% end %>
</div>
