<div class="container">

<h4><%= @link.title %></h4>

<p>
  <%= link_to @link.url, @link.url %>
</p> <hr />

<h5 class="comments_title">
  <%= @link.comments.count %> comments
</h5>

<div id="comments">
  <%= render :partial => @link.comments %>
</div>
<%= simple_form_for [@link, Comment.new]  do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <br>
  <%= f.submit "add comment"%>
<% end %>
</div>
