<div class="container">


  <nav class="tabMenu rightBar">

    <div id="search_container">
      <p>post stats:</p><hr />
      </div>


  		<div class="label"></div>
  		<div id="sort_by_main">

          <%= link_to '/popular' do %>
            <button>popularity</button>
          <% end %>

          <%= link_to '/new' do %>
            <button>newest</button>
          <% end %>

          <%= link_to '/old' do %>
            <button>oldest</button>
          <% end %>
  		</div>

          <div class="label">more on us:</div>

          <a class="btn btn-default width-100">what is the link bucket?</a>
          <a class="btn btn-default width-100">our policy</a>

  	</nav>


<p>
  <strong>title:</strong>
  <%= @link.title %>
</p>

<p>
  <strong>url:</strong>
  <%= @link.url %>
</p> <hr />

<%= link_to 'back', links_path %>

<h5 class="comments_title">
  <%= @link.comments.count %> comments
</h5>

<div id="comments">
  <%= render :partial => @link.comments %>
</div>
<%= simple_form_for [@link, Comment.new]  do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <br>
  <%= f.submit "add comment"%>
<% end %>
</div>
