<div class="container">

<p>
  <strong>title:</strong>
  <%= @link.title %>
</p>

<p>
  <strong>url:</strong>
  <%= @link.url %>
</p> <hr />

<%= link_to 'back', links_path %>

<h5 class="comments_title">
  <%= @link.comments.count %> comments
</h5>

<div id="comments">
  <%= render :partial => @link.comments %>
</div>
<%= simple_form_for [@link, Comment.new]  do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <br>
  <%= f.submit "add comment"%>
<% end %>
</div>
