<!DOCTYPE html>
<html>
<head>
  <title>the link bucket</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>

<% if notice %>
  <div id="notice_wrapper">
    <p class="notice"><%= notice %></p>
  </div>
<% end %>

  <div class="nav_container">

    <div class="mini_nav_container">
    <div id="logo"><%= link_to "the link bucket", root_path %></div>

      <div id="user_options">
      <% if user_signed_in? -%>
        <ul class="user_nav">
          <li><%= link_to current_user.name, edit_user_registration_path %></li>
          <li><%= link_to 'submit', new_link_path %></li>
          <li><%= link_to 'log out', destroy_user_session_path, :method => :delete %></li>
        </ul>
      <% else -%>
        <ul class="user_nav">
          <li><%= link_to 'sign up', new_user_registration_path %></li>
          <li><%= link_to 'log in', new_user_session_path %></li>
        </ul>
      <% end -%>
    </div>
    </div>

  </div>

<%= yield %>

<!--Import jQuery before materialize.js-->
     <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
     <script type="text/javascript" src="js/materialize.min.js"></script>

<footer>
  <div class="footer_class">
    <div id="logo_footer"><%= link_to "the link bucket", root_path %></div>
      view the source code: <a href="https://github.com/MattiasZurkovic/link_bucket">https://github.com/MattiasZurkovic/link_bucket</a>
    </div>
    Copyright (c) 2015 the link bucket All Rights Reserved.
</footer>


</body>

</html>

<script>

  $(document).ready(function(){
    setTimeout(function(){
      $('#notice_wrapper').fadeOut("slow", function(){
        $(this).remove();
      })
    }, 2000);
  });

  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });

  $('.modal-trigger').leanModal({
      dismissible: true, // Modal can be dismissed by clicking outside of the modal
      opacity: .5, // Opacity of modal background
      in_duration: 300, // Transition in duration
      out_duration: 200, // Transition out duration
      ready: function() { alert('Ready'); }, // Callback for Modal open
      complete: function() { alert('Closed'); } // Callback for Modal close
    }
  );

</script>
