<!DOCTYPE html>
<html>
<head>
  <title>the link bucket</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>

<% if notice %>
  <div id="notice_wrapper">
    <p class="notice"><%= notice %></p>
  </div>
<% end %>

  <div class="nav_container">

    <div class="mini_nav_container">
    <div id="logo"><%= link_to "the link bucket", root_path %></div>

      <div id="user_options">
      <% if user_signed_in? -%>
        <ul class="user_nav">
          <li><%= link_to current_user.name, edit_user_registration_path %></li>
          <li><%= link_to 'submit', new_link_path %></li>
          <li><%= link_to 'log out', destroy_user_session_path, :method => :delete %></li>
        </ul>
      <% else -%>
        <ul class="user_nav">
          <li><%= link_to 'sign up', new_user_registration_path %></li>
          <li><%= link_to 'log in', new_user_session_path %></li>
        </ul>
      <% end -%>
    </div>
    </div>

  </div>
<!--  <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-info") %>
  <% end %> -->

<!-- Before yeild! -->
<%= yield %>
<!-- After yeild! -->

<script>
  $(document).ready(function(){
    setTimeout(function(){
      $('#notice_wrapper').fadeOut("slow", function(){
        $(this).remove();
      })
    }, 2000);
  });
</script>

</body>
</html>
